<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/watchlist.css">
    <link rel="stylesheet" href="/css/portfolio.css">
    <title>Portfolio</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg mb-4">
        <div class="container-fluid">
            <p data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="navbar-text mb-0 ms-3">Hello, <span><a class="nav-link active nav-item d-inline" data-th-href="@{/user/settings}" data-th-text="${session.user}"></a></span></p>
            <ul class="navbar-nav ms-auto mb-lg-0">
                <form data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="d-flex me-3" role="search" data-th-action="@{/stock/data}" method="GET">
                    <input class="form-control me-1 form-control-sm shadow-none" type="text" placeholder="Search Ticker" aria-label="Search" name="ticker">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
                <li data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/user/home}" class="nav-link active">Home</a>
                </li>
                <li data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/portfolio/positions}" class="nav-link active">Portfolio</a>
                </li>
                <li data-th-if="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/}" class="nav-link active">About</a>
                </li>
                <li class="nav-item">
                    <a data-th-href="@{/latest}" class="nav-link active">News</a>
                </li>
                <li data-th-if="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/user/login}" class="nav-link active">Log In</a>
                </li>
                <li data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/user/logout}" class="nav-link active">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-with-watchlist">
        <div class="watchlist ms-4 me-auto">
            <h5 class="border-bottom pb-1">Watchlist</h5>
            <div class="tickerlist mt-2">
                <ul id="watchlist" class="navbar-nav">
                    <li data-th-each="ticker: ${watchlist}" class="nav-item ms-1 mb-0">
                        <a data-th-href="@{/stock/{symbol}(symbol=${ticker})}" class="nav-link active" data-th-text="${ticker}"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content me-5">
            <div class="content-top">
                <b>Net Asset Value: <span data-th-text="${'$' + #numbers.formatDecimal(nav, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></b>
                <button class="btn btn-outline-dark ms-auto" data-bs-toggle="modal" data-bs-target="#new-position">New Position</a>
            </div>
            <div data-th-if="${#lists.isEmpty(portfolio)}">
                <p>You have not added any positions!</p>
            </div>
            <div data-th-unless="${#lists.isEmpty(portfolio)}">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Company</th>
                            <th>Number of Shares</th>
                            <th>Cost Basis</th>
                            <th>Last Traded</th>
                            <th>Total Market Value</th>
                            <th>Unrealised Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-th-each="position : ${portfolio}">
                            <td class="align-middle"><a data-th-href="@{/stock/{symbol}(symbol=${position.ticker})}" class="nav-link active" data-th-text="${position.ticker}"></a></td>
                            <td class="align-middle" data-th-text="${position.companyName}"></td>
                            <td class="align-middle" data-th-id="${position.ticker + 'qty'}" data-th-text="${position.quantityPurchased}"></td>
                            <td class="align-middle" data-th-id="${position.ticker + 'cost'}" data-th-text="${'$' + #numbers.formatDecimal(position.costBasis, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                            <td class="align-middle" data-th-text="${'$' + #numbers.formatDecimal(position.lastTradedPrice, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                            <td class="align-middle" data-th-text="${'$' + #numbers.formatDecimal(position.marketValue, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                            <td class="align-middle" data-th-text="${position.unrealisedProfit}"></td>
                            <td class="align-middle">
                                <button class="update-btn btn btn-outline-dark me-1" data-bs-toggle="modal" data-bs-target="#update-position" 
                                                data-th-data-ticker="${position.ticker}" data-th-data-qty="${position.quantityPurchased}" data-th-data-cost="${#numbers.formatDecimal(position.costBasis, 1, 'DEFAULT', 2, 'DEFAULT')}">Update</button>
                                <a class="btn btn-outline-dark" data-th-href="@{/portfolio/delete/{ticker}(ticker=${position.ticker})}">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="new-position" tabindex="-1" aria-labelledby="new-position" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="new-position-label">New Position</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-position-form" data-th-action="@{/portfolio/new}" method="POST" data-th-object="${new_position}">
                    <script data-th-inline="javascript" data-th-if="${#fields.hasErrors('*')}">$(document).ready(function(){$("#new-position").modal("show");})</script>
                    <div class="mb-3">
                        <label for="ticker" class="form-label">Ticker</label>
                        <input class="form-control" type="text" name="ticker" data-th-field="*{ticker}">
                    </div>
                    <div class="alert alert-danger" data-th-if="${#fields.hasErrors('ticker')}" data-th-errors="*{ticker}"></div>
                    <div class="mb-3">
                        <label for="quantityPurchased" class="form-label">Quantity Purchased</label>
                        <input class="form-control" type="text" name="quantityPurchased" data-th-field="*{quantityPurchased}">
                    </div>
                    <div class="alert alert-danger" data-th-if="${#fields.hasErrors('quantityPurchased')}" data-th-errors="*{quantityPurchased}"></div>
                    <div class="mb-3">
                        <label for="costBasis" class="form-label">Cost Basis (per share)</label>
                        <input class="form-control" type="text" name="costBasis" data-th-field="*{costBasis}">
                    </div>
                    <div class="alert alert-danger" data-th-if="${#fields.hasErrors('costBasis')}" data-th-errors="*{costBasis}"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-dark" form="new-position-form" type="submit">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="update-position" tabindex="-1" aria-labelledby="update-position" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="update-position-form-label">Update Position</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="update-position-form" data-th-action="@{/portfolio/update}" method="POST" data-th-object="${update_position}">
                    <script data-th-inline="javascript" data-th-if="${#fields.hasErrors('*')}">$(document).ready(function(){$("#update-position").modal("show");})</script>
                    <div class="mb-3">
                        <label for="ticker" class="form-label">Ticker</label>
                        <input id="update-ticker" class="form-control" type="text" name="ticker" data-th-field="*{ticker}">
                    </div>
                    <div class="alert alert-danger" data-th-if="${#fields.hasErrors('ticker')}" data-th-errors="*{ticker}"></div>
                    <div class="mb-3">
                        <label for="quantityPurchased" class="form-label">Quantity Purchased</label>
                        <input id="update-qty" class="form-control" type="text" name="quantityPurchased" data-th-field="*{quantityPurchased}">
                    </div>
                    <div class="alert alert-danger" data-th-if="${#fields.hasErrors('quantityPurchased')}" data-th-errors="*{quantityPurchased}"></div>
                    <div class="mb-3">
                        <label for="costBasis" class="form-label">Cost Basis (per share)</label>
                        <input id="update-cost" class="form-control" type="text" name="costBasis" data-th-field="*{costBasis}">
                    </div>
                    <div class="alert alert-danger" data-th-if="${#fields.hasErrors('costBasis')}" data-th-errors="*{costBasis}"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-dark" form="update-position-form" type="submit">Update</button>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="/js/update_position.js"></script>
</html>