<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form data-th-action="@{/user/registerNewUser}" method="POST">
        Username: <input type="text" name="username" id="username">
        <div id="username_check"></div>
        Password: <input type="password" name="password">
        <button type="submit" id="submit" disabled>Register</button>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/js/check_username.js"></script>
</html>