<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="/css/watchlist.css">
    <link rel="stylesheet" href="/css/stockdata.css">
    <link rel="stylesheet" href="/css/news_sentiment.css">
    <title>Stock Data</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg mb-4">
        <div class="container-fluid">
            <p data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="navbar-text mb-0 ms-3">Hello, <span><a class="nav-link active nav-item d-inline" data-th-href="@{/user/settings}" data-th-text="${session.user}"></a></span></p>
            <ul class="navbar-nav ms-auto mb-lg-0">
                <form data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="d-flex me-3" role="search" data-th-action="@{/stock/data}" method="GET">
                    <input class="form-control me-1 form-control-sm shadow-none" type="text" placeholder="Search Ticker" aria-label="Search" name="ticker">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
                <li data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/user/home}" class="nav-link active">Home</a>
                </li>
                <li data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/portfolio/positions}" class="nav-link active">Portfolio</a>
                </li>
                <li data-th-if="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/}" class="nav-link active">About</a>
                </li>
                <li class="nav-item">
                    <a data-th-href="@{/latest}" class="nav-link active">News</a>
                </li>
                <li data-th-if="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/user/login}" class="nav-link active">Log In</a>
                </li>
                <li data-th-unless="${#strings.equals(session.authenticated, 'false')}" class="nav-item">
                    <a data-th-href="@{/user/logout}" class="nav-link active">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-with-watchlist">
        <div class="watchlist ms-4 me-auto">
            <h5 class="border-bottom pb-1">Watchlist</h5>
            <div class="tickerlist mt-2">
                <ul id="watchlist" class="navbar-nav">
                    <li data-th-each="ticker: ${watchlist}" class="nav-item ms-1 mb-0">
                        <a data-th-href="@{/stock/{symbol}(symbol=${ticker})}" class="nav-link active" data-th-text="${ticker}"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content me-5">
            <div class="content-top ps-1">
                <b>Ticker: <span id="ticker" data-th-text="${data.ticker}"></span></b>
                <a data-th-if="${#lists.contains(watchlist, data.ticker)}" id="watchlist_change" class="btn btn-outline-dark ms-auto">Remove from Watchlist</a>
                <a data-th-unless="${#lists.contains(watchlist, data.ticker)}" id="watchlist_change" class="btn btn-outline-dark ms-auto">Add to Watchlist</a>
            </div>
            <div class="ps-1">
                <b>Company Name: <span data-th-text="${data.name}"></span></b>
                <p data-th-text="${data.description}"></p>
                <p><b>Country:</b> <span data-th-text="${data.country}"></span></p>
                <p><b>Sector:</b> <span data-th-text="${#strings.capitalizeWords(#strings.toLowerCase(data.sector))}"></span></p>
                <p><b>Industry:</b> <span data-th-text="${#strings.capitalizeWords(#strings.toLowerCase(data.industry))}"></span></p>
            </div>
            <div class="tab-div pb-1 mb-2 border-bottom">
                <div class="border-end">
                    <a id="news" class="btn btn-outline-dark border-0">News</a>
                </div>
                <div class="border-end">
                    <a id="financials" class="btn btn-outline-dark border-0">Financials</a>
                </div>
                <div>
                    <a id="earnings" class="btn btn-outline-dark border-0">Earnings</a>
                </div>
            </div>
            <div id="tab-content" class="tab-content">
                <div class="news mb-3 p-2" data-th-classappend="${#strings.toLowerCase(article.sentiment)}" data-th-each="article: ${news}">
                    <div class="brief">
                        <h6 class="brief-title" data-th-text="${article.title}"></h6>
                        <a data-th-href="${article.url}">Full Article</a>
                    </div>
                    <div class="ms-auto">
                        <p class="m-0">Sentiment: <span data-th-text="${article.sentiment}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/watchlist.js"></script>
<script src="/js/stock_data.js"></script>
</html>